@model PaternosterDemo.Models.Inventory

<h1>Voorraad verwijderen</h1>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Onderdeel</dt>
        <dd class="col-sm-10">@Model.Part?.Name</dd>

        <dt class="col-sm-2">Kast</dt>
        <dd class="col-sm-10">@Model.Cabinet?.CabinetNumber</dd>

        <dt class="col-sm-2">Aantal</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="InventoryId" />
        <button type="submit">Verwijderen</button> |
        <a asp-action="Index">Annuleren</a>
    </form>
</div>
