@model PaternosterDemo.Models.Part

<h1>Onderdeel bewerken</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PartId" />

    <div>
        <label asp-for="ArticleNumber"></label>
        <input asp-for="ArticleNumber" class="form-control"/>
        <span asp-validation-for="ArticleNumber" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit">Opslaan</button>
</form>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
